body {
	font-family: "Helvetica Neue", "Helvetica", sans-serif;
}
.main {
	max-width: 1000px;
	margin: auto;
	display: table;
}

.date-select {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}
.birthday {
	font-size: 3em;
	font-weight: bold;
	text-align: center;
}

.age-sentence {
	text-align: center;
	font-size: 3em;	
	font-weight: bold;
	display: table-cell;
	vertical-align: middle;
	display: none;
}

.dropdown {
	text-align: center;
}
.dropdown-1 {
	width: 80px;
}
.dropdown-2 {
	width: 90px;
}
.dropdown-3 {
	width: 200px;
}
#age {
	font-size: 200%;
}

@media (max-width: 750px) { 
	.age-sentence, .birthday {
		font-size: 2em;
}
}